<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Task Dashboard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tasks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-calendar3-nav-menu" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blocked-time">
                <span class="bi bi-slash-circle-nav-menu" aria-hidden="true"></span> Blocked time
            </NavLink>
        </div>
    </nav>
</div>
